@import "../base/vars";

#banner{
    background-color: $main-color;
    text-align: center;
    background-size: 100px;
    background-position: left top;
    margin-top: 80px;
    align-items: center;
    padding: 0 25px;
    max-width: 600;

    img {
        width: 70%;
        background-repeat: repeat;
    
    }

    .titulo{  
        h2{
        font-weight: 400;
        margin-top: 3%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: #b1a59f;
        }
    }

    section h2{
        font-size: 18px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
 
}
