@import "../base/vars";

.boton{
    color: white;
    font-size: 14px;
    background-color: $main-text-light;
    border-radius: 4px;
    padding: 5px 10px;
    align-items: center;
    margin: 20px;
    justify-content: center;
    
}

