// base
@use "./base/reset";
@use "./base/typography";
@import "./base/vars";


// componenetes
@import "./components/button";
@import "./components/title";

// layout
@import "./layout/footer";
@import "./layout/forms";
@import "./layout/header";

// Pages
@import "./pages/home";
@import "./pages/productos";
@import "./pages/talles";




main{
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
          
    
    img{
        width: 100%;
        margin-top: 30px;
       
    }
    .wpp img {
        width: 50px;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
    span {
        font-size: 12px;
        margin-left: 20px;
    }

    iframe{
        border: 0;
        width: 100%;
        margin: 3rem 0;
    }
}









