* {
  padding: 0;
  margin: 0;
}

a {
  color: #6c757d;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: flex;
}

* {
  padding: 0;
  margin: 0;
}

a {
  color: #6c757d;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  display: flex;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-size: 100vw 100vh;
}

h1 {
  color: #b1a59f;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  font-weight: 300;
  margin-top: 80px;
}

h2 {
  font-size: 24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #b1a59f;
  text-align: center;
  font-weight: 300;
  margin: 20px 12px 0;
}

h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  text-align: center;
  color: #6c757d;
  margin: 34px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 20px;
  max-width: 900px;
  text-align: justify;
}

li {
  margin: 10px 10px;
  text-align: center;
  list-style: none;
}

.boton {
  color: white;
  font-size: 14px;
  background-color: #6c757d;
  border-radius: 4px;
  padding: 5px 10px;
  align-items: center;
  margin: 20px;
  justify-content: center;
}

footer {
  background-color: rgb(241, 241, 166);
  margin-top: 14px;
  font-size: 16px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
footer a {
  color: #1c1c1a;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 14px;
}
footer h3 {
  font-size: 14px;
}
footer nav ul {
  list-style: none;
  text-align: center;
  font-size: 14px;
}
footer nav ul li {
  margin-top: 3px;
  text-align: center;
}
footer span {
  font-size: 12px;
  margin-left: 20px;
}
footer .footerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  align-items: center;
}
footer .footerContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 40px;
}
footer .footerContainer form input {
  margin: 10px 0px;
  border: none;
  border-radius: 8px;
  padding: 5px 8px;
}
footer .wpp img {
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

form {
  width: 400px;
  margin: auto;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
  border-radius: 7px;
}
form h2 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}
form input, form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}
form textarea {
  min-height: 150px;
  max-height: 300px;
  max-width: 100%;
}
form #button {
  background: #31384A;
  color: #fff;
  padding: 20px;
}
form #button:hover {
  cursor: pointer;
}
@media (max-width: 480px) {
  form form {
    width: 100%;
  }
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(245, 182, 65);
  color: white;
  padding: 10px 20px;
}

.logo img {
  width: 160px;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}
.nav-links li a {
  color: white;
  list-style: none;
  text-decoration: none;
  transition: color 0.3;
}
.nav-links li a:hover {
  color: rgb(88, 62, 12);
}

@media (max-width: 768px) {
  .navbar {
    position: relative;
  }
  .burger {
    display: flex;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: rgb(245, 182, 65);
    margin: 0;
    text-align: center;
    transition: all 0.3;
  }
  .nav-links.active {
    padding-left: 0px;
    display: flex;
  }
}
#banner {
  background-color: #ffee93;
  text-align: center;
  background-size: 100px;
  background-position: left top;
  margin-top: 80px;
  align-items: center;
  padding: 0 25px;
  max-width: 600;
}
#banner img {
  width: 70%;
  background-repeat: repeat;
}
#banner .titulo h2 {
  font-weight: 400;
  margin-top: 3%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #b1a59f;
}
#banner section h2 {
  font-size: 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

section img {
  width: 80%;
}

.productoConteiner {
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#productos {
  padding-top: 50px;
  background-size: contain;
}
#productos .productos {
  background-color: white;
  width: 30%;
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
  min-width: 200px;
  position: relative;
  text-align: center;
}
#productos .productos img {
  position: relative;
  display: flex;
  align-self: center;
  justify-self: center;
}

.productos img {
  position: relative;
  display: flex;
  align-self: center;
  justify-self: center;
}

article p {
  color: #6c757d;
}

table {
  display: table;
  border: 1px solid gray;
  border-style: double;
  text-indent: initial;
  text-align: center;
  border-spacing: 30px;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
table tr td {
  display: table-cell;
  vertical-align: inherit;
  unicode-bidi: isolate;
  color: black;
  border: 1px solid gray;
}

main {
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
main img {
  width: 100%;
  margin-top: 30px;
}
main .wpp img {
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
main span {
  font-size: 12px;
  margin-left: 20px;
}
main iframe {
  border: 0;
  width: 100%;
  margin: 3rem 0;
}
main .imagen {
  width: 50%;
  margin-top: 30px;
}
main .cintolg {
  width: 30%;
}

/*# sourceMappingURL=style.css.map */
